<div class="px-3">
    <div *ngFor="let joke of paginationConfiguration.jokeList | paginate: { itemsPerPage: itemsPerPage, currentPage: paginationConfiguration.page, totalItems: paginationConfiguration.totalItems }"
        class="d-flex justify-content-between joke-list-item">
        <a routerLink = "/joke/{{joke.id}}">{{ joke.joke }}</a>
        <div>
            <app-favorite-button [joke] = "joke" [shouldHideText] = "true"></app-favorite-button>
            <app-share-button [jokeId] = "joke.id" [shouldHideText] = "true"></app-share-button>
            <app-copy-button [jokeText] = "joke.joke" [shouldHideText] = "true"></app-copy-button>
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-start justify-content-center">
        <div>
            <pagination-controls
            (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
    </div>

</div>