<div class="px-3">

    <div *ngFor="let joke of jokeList | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }"
        class="d-flex justify-content-between joke-list-item">
        <a routerLink = "/joke/{{joke.id}}">{{ joke.joke }}</a>
        <div>
            <app-share-button></app-share-button>
            <app-copy-button></app-copy-button>
        </div>
    </div>
    <hr>
    <div class="d-flex align-items-start justify-content-center">
        <div>
            <pagination-controls
            (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
    </div>

</div>